<mat-sidenav-container >
    <mat-sidenav-content>
        <div class="pagesetting">
            <p>
                <!-- <button mat-icon-button (click)="toggleLeftNav()">
                    <mat-icon aria-label="Left sidenav toggle icon">menu</mat-icon>
                </button> -->
                <!-- Channel
                <button mat-icon-button class="buttonRight" (click)="sidenavright.toggle()">
                    <mat-icon aria-label="Right sidenav toggle icon">vertical_split</mat-icon>
                </button> -->
                <br>
            </p>
            <div>
                <!-- TODO: setting paginator to table -->
                <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->

                <!-- TODO: each cell receive data from user -->
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="checkUncheckAll()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox [(ngModel)]="element.is_selected" name="list_name" value="row.id"
                            (change)="isAllSelected()">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"><a routerLinkActive="active" routerLink="/live">
                                {{element.name}} </a></td>
                    </ng-container>

                    <ng-container matColumnDef="ip">
                        <th mat-header-cell *matHeaderCellDef> IP </th>
                        <td mat-cell *matCellDef="let element"> {{element.ip}} <br>
                            <small>Port: {{element.port}}</small> 
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="bandwidth">
                        <th mat-header-cell *matHeaderCellDef> Bandwidth </th>
                        <td mat-cell *matCellDef="let element"> {{element.bandwidth}} </td>
                    </ng-container>

                    <ng-container matColumnDef="transportType">
                        <th mat-header-cell *matHeaderCellDef> TransportType </th>
                        <td mat-cell *matCellDef="let element">{{element.transportType}}</td>
                    </ng-container>

                    <ng-container matColumnDef="state">
                        <th mat-header-cell *matHeaderCellDef> State </th>
                        <td mat-cell *matCellDef="let element">{{element.state}}</td>
                    </ng-container>

                    <ng-container matColumnDef="now">
                        <th mat-header-cell *matHeaderCellDef> Now </th>
                        <td mat-cell *matCellDef="let element">{{element.now}}</td>
                    </ng-container>

                    <ng-container matColumnDef="next">
                        <th mat-header-cell *matHeaderCellDef> Next </th>
                        <td mat-cell *matCellDef="let element">{{element.next}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
        <code>{{checkedRow}}</code>
    </mat-sidenav-content>
    <!-- "{{SideNavMode}}" -->
    <mat-sidenav position="end" #sidenavright mode="{{sidenavMode()}}" class="rightnav" opened>
        <mat-tab-group >
            <mat-tab label="Live">
                <app-template2></app-template2>
            </mat-tab>
            <mat-tab label="Setting">
                <app-template3></app-template3>
            </mat-tab>
        </mat-tab-group>
        
    </mat-sidenav>
</mat-sidenav-container>