<mat-sidenav-container fullscreen class="sidenavcontainer">
    <mat-sidenav-content>
    <p>
        <button mat-icon-button (click)="toggleLeftNav()">
            <mat-icon aria-label="Left sidenav toggle icon">menu</mat-icon>
        </button>
        Configuration
        <button mat-icon-button class="buttonRight" (click)="sidenavright.toggle()">
            <mat-icon aria-label="Right sidenav toggle icon">vertical_split</mat-icon>
        </button>
    </p>
</mat-sidenav-content>
    <mat-sidenav position="end" #sidenavright mode="{{sidenavMode()}}" class="rightnav">
        RightSideNav : {{sidenavMode()}}
        <app-template2></app-template2>
    </mat-sidenav>
</mat-sidenav-container>