.test { 
    font-size: larger;
}

.leftnav {
    float: left;
    /* width: 20%; */
}

.rightnav {
    float: right;
    width: 20%;
}

.buttonRight {
    float: right;
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* a:visited, a:link {
    
    color: #607D8B;
} */

mat-nav-list mat-list-item a.active {
    font-weight: bold;
    color: rgb(68, 0, 68);
}

 a:hover{
    color: blue; 
}