<mat-sidenav-container fullscreen class="example-container">
  <mat-sidenav #sidenavleft mode="{{SideNavMode}}" class="leftnav" [ngStyle]="{'width': LeftNavWidth}">
    <mat-toolbar color="primary">Playout</mat-toolbar>
    <mat-nav-list flex="row">
      <mat-list-item *ngFor="let link of links" >
        <a matLine routerLinkActive="active" routerLink="/{{ link.path }}">{{ link.name }}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <p>
      <button mat-button (click)="sidenavleft.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button class="buttonRight" mat-button (click)="sidenavright.toggle()">
        <mat-icon aria-label="Side nav toggle icon">vertical_split</mat-icon>
      </button>
    </p>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

  <mat-sidenav position="end" #sidenavright mode="{{SideNavMode}}" class="rightnav">
    RightSideNav : {{SideNavMode}}
    <app-template2></app-template2>
  </mat-sidenav>
</mat-sidenav-container>