.leftnav {
    float: left;
}


.buttonRight {
    flex: 1 1 auto;
}

.sidenavcontainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer{
    position: absolute;
    bottom: 0;
}

mat-nav-list mat-list-item a.active {
    font-weight: bold;
    color: rgb(68, 0, 68);
}

a.active {
    font-weight: bold;
    color: rgb(68, 0, 68);
}

 a:hover{
    color: rgb(231, 20, 238); 
    
}

.navigate{
    color: black;
}

.pagesetting{
    padding: 10px 10px;
  }

.pointer{
    cursor: pointer;
}